<!doctype html>
<html lang="zh-Hant-TW">
<head>
{% include head.html %}
</head>
<body>

{% include header.html %}

<main id="main">{{ content }}</main>

{% include footer.html %}

<script src="{{ '/assets/js/site.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
{%- if page.layout == 'post' %}
<script src="{{ '/assets/js/article.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
{%- endif %}
{%- if page.needs_search_js %}
<script src="{{ '/assets/js/search.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
{%- endif %}

</body>
</html>
